<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246854620973-0lrudvk1hmgnv782so6v250c96fad53n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246854620973-0lrudvk1hmgnv782so6v250c96fad53n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246854620973-gndqv7ge5solleh77fl20daeu8ge2s31.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEEUFUu7fCKtnWMgUHDhik1KWDF0SZ-PM</string>
	<key>GCM_SENDER_ID</key>
	<string>246854620973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmgoktas.stayFit</string>
	<key>PROJECT_ID</key>
	<string>stayfit-app-301da</string>
	<key>STORAGE_BUCKET</key>
	<string>stayfit-app-301da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246854620973:ios:cf08b01e0764b78057a5a4</string>
</dict>
</plist>